In [14]:
from datetime import datetime
import time

In [2]:
timestamp = int(time.time())
print(timestamp)

1698333666

In [3]:
datetime.now()

datetime.datetime(2023, 10, 27, 0, 21, 7, 493387)

In [5]:
# OPEN 2.13

In [ ]:
# dct = 언제 무엇을 얼마에 얼마나 어떻게

In [276]:
from datetime import datetime
import time
import requests
import numpy as np
from config import API_ENDPOINT
import requests
import pandas as pd

class Budget:
    def __init__(self, account='test', currency='KRW'):
        self.account = account
        self.budget = []
        self.currency = currency.upper()
        self.get_params()
        self.get_df()
        
    def get_params(self):
        dct = {
            'account_id': self.account_id,
            'currency': self.currency,
            'total_budget': self.get_total_budget(),
            'puts': self.get_puts(),
            'pops': self.get_pops(),
        }
        self.params = dct
        print('input params ...')        
        print(dct)

        return dct
    
    def set_currency(self, currency):
        self.currency = currency
        self.get_params()
        return self
    
    def put_budget(self, budget):
        timestamp = get_time_now()
        date = get_time_now(option='yyyy-mm-dd')
        action = 'put'
        budget_put = budget
        dct = {'date': date, 'action': action, 'budget': budget_put, 'timestamp': timestamp}
        self.budget.append(dct)
        return self
        
    def pop_budget(self, budget):
        timestamp = get_time_now()
        date = get_time_now(option='yyyy-mm-dd')
        action = 'pop'
        budget_pop = -budget
        dct = {'date': date, 'action': action, 'budget': budget_pop, 'timestamp': timestamp}
        self.budget.append(dct)
        return self

    def put_budget_manual(self, date, budget):
        date_input = format_date(date)
        action = 'put'
        timestamp = get_time_now()
        budget_put = budget
        dct = {'date': date_input, 'action': action, 'budget': budget_put, 'timestamp': timestamp}
        self.budget.append(dct)
        return self

    def pop_budget_manual(self, date, budget):
        date_input = format_date(date)        
        action = 'pop'
        timestamp = get_time_now()
        budget_pop = -budget
        dct = {'date': date_input, 'action': action, 'budget': budget_pop, 'timestamp': timestamp}
        self.budget.append(dct)
        return self
        
    def get_df(self):
        df = pd.DataFrame(self.budget)
        self.df = df
        return df
        
    def get_total_budget(self):
        df = self.get_df()
        total_budget = df['budget'].sum()
        return total_budget
    
    def get_puts(self):
        df = self.get_df()
        lst = df[df['action']=='put']['budget'].tolist()
        self.puts = lst
        return lst

    def get_pops(self):
        df = self.get_df()
        lst = df[df['action']=='pop']['budget'].tolist()
        self.pops = lst
        return lst
    
class Trade:
    def __init__(self, ticker, date=None, currency='KRW'):
        self.ticker = ticker
        self.bucket = []
        self.currency = currency.upper()
        self.date = date or get_time_now(option='yyyy-mm-dd')
        self.get_params()
        self.get_df()

    def get_params(self):
        dct = {
            'ticker': self.ticker,
            'trading_date': self.date,
            'currency': self.currency,
#             'bucket': self.bucket
        }
        self.params = dct
        print('input params ...')        
        print(dct)

        return dct

    def set_date(self, date):
        date = format_date(date)
        self.date = date
        self.get_params()
        return self

    def buy(self, n=1):
        date = get_time_now(option='yyyy-mm-dd')
        action = 'buy'
        buy_price = get_current_price_bbgext(self.ticker)
        n = n
        timestamp = get_time_now()
        dct = {'trading_date': date, 'ticker': self.ticker, 'action': action,'n': n, 'trading_price': buy_price, 'trading_price_total': buy_price*n, 'currency': self.currency, 'timestamp': timestamp }
        print('trade execution ...')
        print(dct)
        self.bucket.append(dct)
        return self
        
    def sell(self, n=1):
        date = get_time_now(option='yyyy-mm-dd')
        action = 'sell'
        sell_price = -get_current_price_bbgext(self.ticker)
        n = n
        timestamp = get_time_now()
        dct = {'trading_date': date, 'ticker': self.ticker, 'action': action, 'n': n,'trading_price': sell_price, 'trading_price_total': sell_price*n, 'currency': self.currency, 'timestamp': timestamp }
        print(dct)
        self.bucket.append(dct)
        return self
    
    def buy_date(self, n_date, date=None):
        date = format_date(date) if date != None else self.date
        action = 'buy'
        price_date = get_date_price_bbgext(self.ticker, date)
        buy_price = price_date
        n = n_date
        timestamp = get_time_now()
        dct = {'trading_date': date, 'ticker': self.ticker, 'action': action,'n': n, 'trading_price': buy_price, 'trading_price_total': buy_price*n, 'currency': self.currency, 'timestamp': timestamp }
        print('trade execution ...')
        print(dct)
        self.bucket.append(dct)
        return self
    
    def sell_date(self, n_date, date=None):
        date = format_date(date) if date != None else self.date
        action = 'sell'
        price_date = get_date_price_bbgext(self.ticker, date)
        sell_price = -price_date
        n = n_date
        timestamp = get_time_now()
        dct = {'trading_date': date, 'ticker': self.ticker, 'action': action, 'n': n, 'trading_price': sell_price, 'trading_price_total': sell_price*n, 'currency': self.currency, 'timestamp': timestamp }
        print(dct)
        self.bucket.append(dct)
        return self

    def buy_date_bbg(self, bcon, n_date, date=None):
        date = format_date(date) if date != None else self.date
        action = 'buy'
        price_date = get_date_price_bbg(bcon, self.ticker, date)
        buy_price = price_date
        n = n_date
        timestamp = get_time_now()
        dct = {'trading_date': date, 'ticker': self.ticker, 'action': action, 'n': n, 'trading_price': buy_price, 'trading_price_total': buy_price*n, 'currency': self.currency, 'timestamp': timestamp }
        print('trade execution ...')
        print(dct)
        self.bucket.append(dct)
        return self
    
    def sell_date_bbg(self, bcon, n_date, date=None):
        date = format_date(date) if date != None else self.date
        action = 'sell'
        price_date = get_date_price_bbg(bcon, self.ticker, date)
        sell_price = -price_date
        n = n_date
        timestamp = get_time_now()
        dct = {'trading_date': date, 'ticker': self.ticker, 'action': action, 'n': n, 'trading_price': sell_price, 'trading_price_total': sell_price*n, 'currency': self.currency, 'timestamp': timestamp }
        print(dct)
        self.bucket.append(dct)
        return self
    
    def buy_manual(self, price_manual, n_manual, date=None):
        date = format_date(date) if date != None else self.date
        action = 'buy'
        buy_price = price_manual
        n = n_manual
        timestamp = get_time_now()
        dct = {'trading_date': date, 'ticker': self.ticker, 'action': action, 'n': n, 'trading_price': buy_price, 'trading_price_total': buy_price*n, 'currency': self.currency, 'timestamp': timestamp }
        print('trade execution ...')
        print(dct)
        self.bucket.append(dct)
        return self
    
    def sell_manual(self, price_manual, n_manual, date=None):
        date = format_date(date) if date != None else self.date
        action = 'sell'
        sell_price = -price_manual
        n = n_manual
        timestamp = get_time_now()
        dct = {'trading_date': date, 'ticker': self.ticker, 'action': action, 'n': n, 'trading_price': sell_price, 'trading_price_total': sell_price*n, 'currency': self.currency, 'timestamp': timestamp }
        print(dct)
        self.bucket.append(dct)
        return self
        
    def delete_trade(self, index):
        bucket = self.bucket
        removed_trade = bucket.pop(index)
        self.bucket = bucket
        return bucket
    
    def get_df(self):
        df = pd.DataFrame(self.bucket)
        if not df.empty:
            df = df.sort_values(by='trading_date', ascending=True)
            df.index.name = 'row_id'
        self.df = df
        return df
    
    def get_df_avg(self):
        df = self.get_df()
        df_gp = df.groupby(['ticker'])[['trading_price_total']].sum()
        df_gp = df_gp.reset_index()
        df_gp['n_total'] = df['n'].sum()        
        df_gp['trading_price_avg'] = round(df_gp['trading_price_total']/df_gp['n_total'],2)
        df_gp['currency'] = self.currency
        df_gp['current_date'] = get_time_now(option='yyyy-mm-dd')
        # df_gp['date'] = df['date'].iloc[-1]
        df_gp = df_gp[['current_date', 'ticker', 'n_total', 'trading_price_avg', 'trading_price_total', 'currency']]
        return df_gp
        
    def get_net_price(self):
        df = self.get_df()
        net_price = df['trading_price_total'].sum()
        return net_price

class Wrap:
    def __init__(self, trades=None, account='test'):
        if trades is None:
            trades = []
        self.trades = trades
        self.account = account
        self.get_params()

    def get_params(self):
        trades_display = [(trade.ticker, trade.date) for trade in self.trades]
        dct = {
            'account': self.account,
            'trades': trades_display,
        }
        self.params = dct
        print('input params ...')
        print(dct)
        return dct

    def update_trades(self, *args):
        for arg in args:
            if isinstance(arg, list):
                self.trades.extend(arg)  # 리스트의 모든 요소 추가
            elif isinstance(arg, Trade):  # 'Trade' 클래스의 인스턴스인 경우
                self.trades.append(arg)
            else:
                print(f"Invalid type: {type(arg)}")
        self.get_params()
        return self

    def delete_trade(self, index):
        trades = self.trades
        trades = trades.pop(index)
        self.trades = trades
        return trades
    
    def reset_trades(self):
        self.trades = []
        self.get_params()
        return self
    
    def get_df(self):
        df = pd.concat([trade.get_df() for trade in self.trades])
        df.index.name = 'row_id'
        colums_raw = df.columns.tolist()
        df['account'] = self.account
        df = df[['account'] + colums_raw]
        if not df.empty:
            df = df.sort_values(by='trading_date', ascending=True)
        df = df.reset_index(drop=True)
        self.tickers = list(set(df['ticker']))
        self.df = df
        self.get_params()
        return df
    
    def get_df_current_bbg(self, bcon):
        df = self.df
        dct = {}
        for ticker in self.tickers:
            price = get_current_price_bbg(bcon, ticker)
            dct[ticker] = price
        df['current_date'] = get_time_now(option='yyyy-mm-dd')
        df['current_price'] = df['ticker'].map(dct)
        df['current_price_total'] = df['current_price'] * df['n']
        df['return'] = round((df['current_price'] / df['trading_price'] - 1) * 100, 2)
        df = df[['account', 'ticker', 'trading_date', 'current_date', 'action', 'n', 'trading_price',
       'trading_price_total', 'current_price', 'current_price_total', 'currency', 'return', 'timestamp']]
        return df

    def get_df_weight(self):
        df = pd.concat([trade.get_df_avg() for trade in self.trades])
        nav = df['trading_price_total'].sum()
        df['trading_weight'] = df['trading_price_total']/nav
        colums_raw = df.columns.tolist()
        df['account'] = self.account
        df = df[['account'] + colums_raw]
        self.df_weight = df
        self.get_params()
        return df
    
    def get_df_weight_current_bbg(self, bcon):
        df = self.get_df_weight()
        dct = {}
        for ticker in self.tickers:
            price = get_current_price_bbg(bcon, ticker)
            dct[ticker] = price
        df['current_price'] = df['ticker'].map(dct)
        df['current_price_total'] = df['current_price'] * df['n_total']
        df['return'] = round((df['current_price'] / df['trading_price_avg'] - 1) * 100, 2)
        nav_current = df['current_price_total'].sum()
        df['current_weight'] = df['current_price_total']/nav_current
        df = df[['account', 'ticker', 'n_total', 'trading_price_avg', 'trading_price_total', 'current_price', 'current_price_total', 'currency', 'return', 'trading_weight', 'current_weight']]
        return df

    def get_df_date(self):
        df = self.get_df_weight()
        num_of_stocks = len(df)
        df = df.groupby(['account', 'trading_date', 'currency'], as_index=False)['trading_price_total'].sum()
        df['num_of_stocks'] = num_of_stocks
        df['price_adjust'] = df['trading_price_total']/ df['trading_price_total'].iloc[0] * 1000
        df = df[['account', 'trading_date', 'num_of_stocks', 'trading_price_total', 'price_adjust', 'currency']]
        self.get_params()
        self.df_date = df
        
        return df

    def get_df_date2(self):
        df = self.get_df()
        df = df.groupby(['trading_date', 'currency'], as_index=False)['trading_price_total'].sum()
        df['price_adjust'] = df['trading_price_total']/ df['trading_price_total'].iloc[0] * 1000
        df['account'] = self.account
        df = df[['account', 'trading_date', 'trading_price_total', 'price_adjust', 'currency']]
        self.get_params()
        self.df_date = df
        
        return df

def get_time_now(option='timestamp'):
    timestamp = int(time.time())
    current_date = datetime.now().strftime('%Y-%m-%d')  # yyyy-mm-dd 형식으로 현재 날짜
    mapping = {
        'timestamp': timestamp,
        'yyyy-mm-dd': current_date
    }
    return mapping[option]

def format_date(date):
    date = date.replace('-', '')
    date = datetime.strptime(date, '%Y%m%d').strftime('%Y-%m-%d')
    return date

def get_currency(ticker):
    exchange_of_ticker = ticker.split(' ')[1]
    mapping = {
        'KS': 'KRW',
        'US': 'USD'
    }
    currency = mapping.get(exchange_of_ticker, 'KRW')
    return currency
    
def get_current_price_bbgext(ticker):
    ticker_input = f"{ticker} Equity"
    query = {
    "action": "bdp",
    "securities": [ticker_input],
    "fields": ["PX_LAST"],
    }
    response = requests.post(API_ENDPOINT, json=query)  
    price = response.json()['PX_LAST'][ticker_input]
    return price

def get_date_price_bbgext(ticker, date):
    ticker_input = f"{ticker} Equity"
    date_input = date.replace('-', '')
    query = {
    "action": "bdh",
    "securities": [ticker_input],
    "fields": ["PX_LAST"],
    "start_date": date_input,
    "end_date": date_input,
    "period": "DAILY"
    }
    response = requests.post(API_ENDPOINT, json=query)  
    price = response.json()['PX_LAST'][ticker_input]

    return price

def get_current_price_bbg(bcon, ticker):
    # prerequisite: turn on bcon on bbg
    ticker_input = f"{ticker} Equity"
    df = bcon.ref(ticker_input, ['PX_LAST'])
    price = df['value'][0]
    return price

def get_date_price_bbg(bcon, ticker, date):
    # prerequisite: turn on bcon on bbg
    ticker_input = f"{ticker} Equity"
    date_input = date.replace('-', '')
    df = bcon.bdh(ticker_input, ['PX_LAST'], date_input, date_input)
    price = df.iloc[-1][0]
    return price

In [274]:
bcon = pdblp.BCon(debug=False, port=8194, timeout=5000)

In [275]:
bcon.start()

16NOV2023_09:04:22.443 96998:6245806080 WARN apicm_apiconnector.cpp:389 ApiConnector::socketConnectorCallback localhost: Failed to connect to 127.0.0.1:8194, status=1, error 8 connect event failed

16NOV2023_09:04:22.443 96998:6245806080 WARN blpapi_platformtransporttcp.cpp:137 blpapi.session.{2}.transporttcp<0><localhost:8194> 127.0.0.1, session pool state=Failed

16NOV2023_09:04:25.451 96998:6245806080 WARN apicm_apiconnector.cpp:389 ApiConnector::socketConnectorCallback localhost: Failed to connect to 127.0.0.1:8194, status=1, error 8 connect event failed

16NOV2023_09:04:25.451 96998:6245806080 WARN blpapi_platformtransporttcp.cpp:137 blpapi.session.{2}.transporttcp<0><localhost:8194> 127.0.0.1, session pool state=Failed

pdblp.pdblp:WARNING:Message Received:
SessionStartupFailure = {
    reason = {
        source = "ApiConnector"
        category = "IO_ERROR"
        errorCode = 8
        description = "connect event failed"
    }
}

16NOV2023_09:04:28.456 96998:6245806080 WARN apicm_apiconnector.cpp:389 ApiConnector::socketConnectorCallback localhost: Failed to connect to 127.0.0.1:8194, status=1, error 8 connect event failed

16NOV2023_09:04:28.457 96998:6245806080 WARN blpapi_platformtransporttcp.cpp:137 blpapi.session.{2}.transporttcp<0><localhost:8194> 127.0.0.1, session pool state=Failed

16NOV2023_09:04:28.457 96998:6245806080 WARN blpapi_platformcontroller.cpp:617 blpapi.session.{2}.platformcontroller Platform failed 3 consecutive connect attempts, stopped trying to reconnect. { PlatformId=0 }

16NOV2023_09:04:28.457 96998:6248050688 ERROR blpapi_sessionimpl.cpp:2550 blpapi.session.{2} Failed to start session. { ErrorInfo=[ source = "ApiConnector" code = 8 category = "IO_ERROR" errorMessage = "connect event failed" subcategory = NULL ] RequestId=NULL }

ConnectionError: Could not start blpapi.Session

In [273]:
BconServer().start()

16NOV2023_09:03:14.992 96998:6243561472 WARN apicm_apiconnector.cpp:389 ApiConnector::socketConnectorCallback localhost: Failed to connect to 127.0.0.1:8194, status=1, error 8 connect event failed

16NOV2023_09:03:14.992 96998:6243561472 WARN blpapi_platformtransporttcp.cpp:137 blpapi.session.{1}.transporttcp<0><localhost:8194> 127.0.0.1, session pool state=Failed

16NOV2023_09:03:17.995 96998:6243561472 WARN apicm_apiconnector.cpp:389 ApiConnector::socketConnectorCallback localhost: Failed to connect to 127.0.0.1:8194, status=1, error 8 connect event failed

16NOV2023_09:03:17.995 96998:6243561472 WARN blpapi_platformtransporttcp.cpp:137 blpapi.session.{1}.transporttcp<0><localhost:8194> 127.0.0.1, session pool state=Failed

pdblp.pdblp:WARNING:Message Received:
SessionStartupFailure = {
    reason = {
        source = "ApiConnector"
        category = "IO_ERROR"
        errorCode = 8
        description = "connect event failed"
    }
}

16NOV2023_09:03:20.997 96998:6243561472 WARN apicm_apiconnector.cpp:389 ApiConnector::socketConnectorCallback localhost: Failed to connect to 127.0.0.1:8194, status=1, error 8 connect event failed

16NOV2023_09:03:20.997 96998:6243561472 WARN blpapi_platformtransporttcp.cpp:137 blpapi.session.{1}.transporttcp<0><localhost:8194> 127.0.0.1, session pool state=Failed

16NOV2023_09:03:20.997 96998:6243561472 WARN blpapi_platformcontroller.cpp:617 blpapi.session.{1}.platformcontroller Platform failed 3 consecutive connect attempts, stopped trying to reconnect. { PlatformId=0 }

16NOV2023_09:03:20.999 96998:6245806080 ERROR blpapi_sessionimpl.cpp:2550 blpapi.session.{1} Failed to start session. { ErrorInfo=[ source = "ApiConnector" code = 8 category = "IO_ERROR" errorMessage = "connect event failed" subcategory = NULL ] RequestId=NULL }

ConnectionError: Could not start blpapi.Session

In [267]:
get_date_price('259960 KS', '20231101')

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

# Trade test

In [256]:
krafton = Trade('259960 KS')
sehold = Trade('003030 KS')

In [257]:
krafton.set_date('2023-11-01').buy_date(100)

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [235]:
opendoor = Trade(ticker='OPEN UW', currency='usd')

In [186]:
opendoor.buy(n=100)

In [187]:
opendoor.buy(n=200)

In [188]:
opendoor.sell(n=50)

In [189]:
opendoor.set_date('2023-11-03').buy_manual(price_manual=1.90, n_manual=100)

In [190]:
df = opendoor.get_df()
df

,date,ticker,action,price,n,price_total,currency,timestamp
row_id,,,,,,,,
0,2023-11-15,OPEN UW,buy,2.29,100,229.0,usd,1700033399
1,2023-11-15,OPEN UW,buy,2.29,200,458.0,usd,1700033400
2,2023-11-15,OPEN UW,sell,-2.29,50,-114.5,usd,1700033401
3,2023-11-03,OPEN UW,buy,1.90,100,190.0,usd,1700033401

In [191]:
opendoor.get_net_price()

762.5

In [192]:
budget = Budget()

In [193]:
budget.put_budget(1000000).put_budget(2000000).pop_budget(500000).put_budget(1000000)

In [194]:
budget.budget

[{'date': '2023-11-15',
  'action': 'put',
  'budget': 1000000,
  'timestamp': 1700033401},
 {'date': '2023-11-15',
  'action': 'put',
  'budget': 2000000,
  'timestamp': 1700033401},
 {'date': '2023-11-15',
  'action': 'pop',
  'budget': -500000,
  'timestamp': 1700033401},
 {'date': '2023-11-15',
  'action': 'put',
  'budget': 1000000,
  'timestamp': 1700033401}]

In [195]:
budget.get_df()

         date action   budget   timestamp
0  2023-11-15    put  1000000  1700033401
1  2023-11-15    put  2000000  1700033401
2  2023-11-15    pop  -500000  1700033401
3  2023-11-15    put  1000000  1700033401

In [196]:
budget.get_info()

AttributeError: 'Budget' object has no attribute 'account_id'

In [ ]:
t = Trade('OEPN')

In [ ]:
t.buy()

In [236]:
query = {
    "action": "bdh",
    "securities": "005930 KS Equity",
    "fields": ["PX_LAST"],
    "start_date": "20231114",
    "end_date": "20231114",
    "period": "DAILY"
}
response = requests.post(API_ENDPOINT, json=query)

In [237]:
response.json()

{'PX_LAST': {'1699920000000': 70800.0}}

In [ ]:
data = {
    "action": "bdp",
    "securities": [f"OPEN US Equity"],
    "fields": ["LAST_PRICE"],
    }
response = requests.post(API_ENDPOINT, json=data)

In [ ]:
response.json()

{'LAST_PRICE': {'OPEN US Equity': 2.29}}

In [197]:
get_time_now()

1700033401

In [198]:
ss = Trade('005930 KS').buy(10)

In [199]:
hy = Trade('000660 KS').buy(10)

In [200]:
ss.get_df()

,date,ticker,action,price,n,price_total,currency,timestamp
row_id,,,,,,,,
0,2023-11-15,005930 KS,buy,72200.0,10,722000.0,krw,1700033403

In [201]:
hy.get_df()

,date,ticker,action,price,n,price_total,currency,timestamp
row_id,,,,,,,,
0,2023-11-15,000660 KS,buy,134100.0,10,1341000.0,krw,1700033404

In [202]:
ss.buy(5)
hy.buy(5)

In [203]:
ss.get_df()

,date,ticker,action,price,n,price_total,currency,timestamp
row_id,,,,,,,,
0,2023-11-15,005930 KS,buy,72200.0,10,722000.0,krw,1700033403
1,2023-11-15,005930 KS,buy,72200.0,5,361000.0,krw,1700033405

In [204]:
hy.get_df()

,date,ticker,action,price,n,price_total,currency,timestamp
row_id,,,,,,,,
0,2023-11-15,000660 KS,buy,134100.0,10,1341000.0,krw,1700033404
1,2023-11-15,000660 KS,buy,134100.0,5,670500.0,krw,1700033406

In [205]:
df1 = ss.df
df2 = hy.df

In [206]:
df1

,date,ticker,action,price,n,price_total,currency,timestamp
row_id,,,,,,,,
0,2023-11-15,005930 KS,buy,72200.0,10,722000.0,krw,1700033403
1,2023-11-15,005930 KS,buy,72200.0,5,361000.0,krw,1700033405

In [207]:
df2

,date,ticker,action,price,n,price_total,currency,timestamp
row_id,,,,,,,,
0,2023-11-15,000660 KS,buy,134100.0,10,1341000.0,krw,1700033404
1,2023-11-15,000660 KS,buy,134100.0,5,670500.0,krw,1700033406

In [208]:
df = pd.concat([df1, df2], axis=0)
df = df.reset_index(drop=True)
df

,date,ticker,action,price,n,price_total,currency,timestamp
0,2023-11-15,005930 KS,buy,72200.0,10,722000.0,krw,1700033403
1,2023-11-15,005930 KS,buy,72200.0,5,361000.0,krw,1700033405
2,2023-11-15,000660 KS,buy,134100.0,10,1341000.0,krw,1700033404
3,2023-11-15,000660 KS,buy,134100.0,5,670500.0,krw,1700033406

In [209]:
def drop_row_by_index(df, index):
    df = df.drop(index=index)
    return df

In [210]:
drop_row_by_index(df, 0)

,date,ticker,action,price,n,price_total,currency,timestamp
1,2023-11-15,005930 KS,buy,72200.0,5,361000.0,krw,1700033405
2,2023-11-15,000660 KS,buy,134100.0,10,1341000.0,krw,1700033404
3,2023-11-15,000660 KS,buy,134100.0,5,670500.0,krw,1700033406

In [211]:
cj = Trade('097950 KS')
doote = Trade('131970 KS')
sehold = Trade('003030 KS')
krafton = Trade('259960 KS')

In [215]:
sehold.set_date('2023-11-08').buy_manual(price_manual=188400, n_manual=300)
krafton.set_date('2023-11-08').buy_manual(price_manual=190800, n_manual=300)

In [216]:
sehold.get_params()

{'ticker': '003030 KS', 'date': '2023-11-08', 'currency': 'krw'}

In [217]:
sehold.get_df()

,date,ticker,action,price,n,price_total,currency,timestamp
row_id,,,,,,,,
0,2023-11-08,003030 KS,buy,188400,300,56520000,krw,1700033411
1,2023-11-08,003030 KS,buy,188400,300,56520000,krw,1700033412
2,2023-11-08,003030 KS,buy,188400,300,56520000,krw,1700033413
3,2023-11-08,003030 KS,buy,188400,300,56520000,krw,1700033413

In [218]:
krafton.get_df()

,date,ticker,action,price,n,price_total,currency,timestamp
row_id,,,,,,,,
0,2023-11-08,259960 KS,buy,190800,300,57240000,krw,1700033411
1,2023-11-08,259960 KS,buy,190800,300,57240000,krw,1700033412
2,2023-11-08,259960 KS,buy,190800,300,57240000,krw,1700033413
3,2023-11-08,259960 KS,buy,190800,300,57240000,krw,1700033413

In [219]:
trades = [sehold, krafton]

In [220]:
df = Wrap(trades=trades).get_df()
df

,account,date,ticker,action,price,n,price_total,currency,timestamp
0,test,2023-11-08,003030 KS,buy,188400,300,56520000,krw,1700033411
1,test,2023-11-08,003030 KS,buy,188400,300,56520000,krw,1700033412
2,test,2023-11-08,003030 KS,buy,188400,300,56520000,krw,1700033413
3,test,2023-11-08,003030 KS,buy,188400,300,56520000,krw,1700033413
4,test,2023-11-08,259960 KS,buy,190800,300,57240000,krw,1700033411
5,test,2023-11-08,259960 KS,buy,190800,300,57240000,krw,1700033412
6,test,2023-11-08,259960 KS,buy,190800,300,57240000,krw,1700033413
7,test,2023-11-08,259960 KS,buy,190800,300,57240000,krw,1700033413

In [221]:
df_summary = Wrap(trades=trades).get_df_summary()

In [222]:
df_summary

  account        date     ticker currency  price_total    weight
0    test  2023-11-08  003030 KS      krw    226080000  0.496835
1    test  2023-11-08  259960 KS      krw    228960000  0.503165

In [224]:
df_summary.groupby(['account', 'date', 'currency'], as_index=False)['price_total'].sum()

  account        date currency  price_total
0    test  2023-11-08      krw    455040000

In [244]:
wrap_mirae = Wrap(trades=[], account='mirae')

In [245]:
wrap_mirae.params

{'account': 'mirae', 'trades': []}

In [246]:
cj = Trade('097950 KS')
doote = Trade('131970 KS')
sehold = Trade('003030 KS')
krafton = Trade('259960 KS')

In [247]:
cj.set_date('2023-11-08').buy_date(n_date=300)

JSONDecodeError: Expecting value: line 1 column 1 (char 0)